matplotlib==3.6.2
scikit-image==0.19.3
trimesh==3.17.1
rtree==1.0.1
pytorch_lightning==1.8.6
kornia>0.4.0
chumpy==0.70
Cython==0.29.33
opencv-python==4.7.0.68
opencv_contrib_python==4.7.0.68
scikit-learn==1.2.0
protobuf==3.20.1
dataclasses
mediapipe==0.9.0.1
einops==0.6.0
boto3==1.26.41
open3d==0.16.0
tinyobjloader==2.0.0rc7
#git+https://github.com/facebookresearch/pytorch3d.git
#git+https://github.com/YuliangXiu/neural_voxelization_layer.git
#git+https://github.com/YuliangXiu/rembg.git
cupy-cuda11x

torch==1.12.1+cu116 
torchvision==0.13.1+cu116

#unpack 7z
pyunpack==0.3
patool==1.12

#xatlas for avatarizer
xatlas

#loguru
loguru
